h1 Pages#welcome
p Find me in app/views/pages/welcome.html.slim

h1 Pages#welcome
h3 render
#app
  | {{ message }}
h3 binding
#app-2
  span v-bind:title="message"
    | Hover your mouse over me for a few seconds
    | to see my dynamically bound title!
h3 Condition
#app-3
  span v-if="seen"  Now you see me
h3 Loop
#app-4
  ol
    li v-for=("result in results")
      | {{ result.text }}
h3 Methods and functions
#app-5
  p
  |  {{ message }}
  button v-on:click="reverseMessage"  Reverse Message
#app-6
  p
  | {{ message }}
  input v-model="message"
